<nav class="navbar navbar-dark bg-dark">
  <form class="form-inline" method="GET" target="_self" action="/search">
    <div class="input-group mr-sm-2" id="search-input">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-search"></i></span>
      </div>
      <input 
          class="form-control mr-sm-2"
          id="search-input"
          type="search"
          name="query"
          placeholder="Search for music"
          value="{{ search_query }}"
          aria-label="Search">
    </div>
  </form>
</nav>