<div id="playsong">
    <audio 
        src="https://p.scdn.co/mp3-preview/bcd40a6c117e25539db0594df875e270c5ab7fca?cid=bef985eef0ac4312a4e0b2d72f14bb5d%27"
        type="audio/mpeg">
    </audio>
</div>